.users-box {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.user-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    border: black 1px solid;
}